<div>
    <% case order.aasm_state %>
    <% when "order_placed" %>
      <%= link_to("取消订单",
                  apply_to_cancel_order_path(order.token),
                  class: "btn btn-default btn-sm",:method => :post) %>

    <% when "paid" %>
      <span class="label label-default">配送中</span>
    |
      <%= link_to("取消订单",
                  apply_to_cancel_order_path(order.token),
                  class: "btn btn-default btn-sm",:method => :post) %>

    <% when "shipping" %>
      <%= link_to("收货",
                  shipped_account_order_path(order.token),
                  class: "btn btn-default btn-sm",:method => :post) %>

    <% when "shipped" %>
      <%= link_to("退货",
                  return_account_order_path(order.token),
                  class: "btn btn-default btn-sm",:method => :post) %>

    <% when "good_returned" %>
      <span class="label label-default">货退了</span>

    <% when "order_cancelled" %>
      <span class="label label-default">订单已取消</span>

    <% else %>
      <span class="label label-default">异常</span>

    <% end %>
</div>
