<h2 class="text-center">我的出价</h2>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>商品</th>
      <th>出价次数</th>
      <th>最后出价时间</th>
      <th>我的最高出价</th>
      <th>商品最终价格</th>
      <th>商品状态</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>#</td>
      <td>
        #
      </td>
      <td>
      #
      </td>
      <td>
      #
      </td>
      <td>
      #
      </td>
      <td>
        #
      </td>
      <td>
        #
      </td>

    </tr>

  </tbody>
</table>
