<h1 class="text-center">我的出价</h1>
<br><br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>商品</th>
      <th>出价</th>
      <th>创建时间</th>
      <th>更新时间</th>
    </tr>
  </thead>
  <tbody>
    <% current_user.bids.each do |bid| %>
    <tr>
      <td>#</td>
      <td><%= bid.product_id %></td>
      <td><%= bid.amount %></td>
      <td><%= bid.created_at %></td>
      <td><%= bid.updated_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>
