<div class="row">
  <div class="col-md-12">
    <h2>出价详情 </h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%">
            商品
          </th>
          <th>
            出价
          </th>
          <th>
            出价时间
          </th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>
          #
          </td>
          <td>
          #
          </td>
          <td>
          #
          </td>
        </tr>

      </tbody>


  </div>

</div>
