<h1>所有出价记录</h1>
<br><br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>出价人</th>
      <th>出价</th>
    </tr>
  </thead>
  <tbody>
    <% if @product.bids.present? %>
      <% @product.bids.each do |bid| %>
      <tr>
        <td><%= bid.id %></td>
        <td><%= bid.user.name %></td>
        <td><%= bid.amount %></td>
      </tr>
      <% end %>
    <% else %>
      <p>尚无人出价，赶快去抢</p>
    <% end %>
  </tbody>
</table>
<div class="pull-right">
  <%= link_to("参加拍卖", new_product_bid_path(@product), :method => :get, :class => "btn btn-primary btn-lg btn-danger")%>
</div>
