

<h2 class="text-center">我的竞拍</h2>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>竞拍品</th>
      <th>起拍价</th>
      <th>最新出价</th>
      <th>更新时间</th>
    </tr>
  </thead>
  <tbody>
  
  </tbody>
</table>
