<h2 class="text-center">所有订单</h2>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>订单</th>
      <th>是否付款</th>
      <th>付款方式</th>
      <th>订单状态</th>
      <th>更新时间</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td>#</td>
      <td>
        <%= link_to(order.id, order_path(order.token)) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
