<!-- head  -->
<div class="row">
  <div class="jumbotron">
    <div class="title">
      <h1>大咖私藏</h1>
      <div class="slogan">
        <p>大咖私藏在手 牛逼装逼全都有</p>
      </div>
      <p><a class="btn btn-danger btn-lg" href="products" role="button">现在就抢</a></p>
    </div>
  </div>
</div>


<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="subtitle">
  <h2>为什么来这里拍</h2>
  <br> <br>
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <div class="thumbnail">
          <img src="https://s3-us-west-2.amazonaws.com/feiben/homework/bidstore/safe-zone+(1).png" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>专业安全保障</h3>
            <p>国际标准检验/运输/维护</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="thumbnail">
          <img src="https://s3-us-west-2.amazonaws.com/feiben/homework/bidstore/writer+(1).png" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>真实可靠</h3>
            <p>大咖本人签名承诺收藏品真实</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="thumbnail">
          <img src="https://s3-us-west-2.amazonaws.com/feiben/homework/bidstore/two-arrows+(1).png" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>两不误</h3>
            <p>牛逼装逼两不耽误</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="subtitle">
  <h2>竞拍流程</h2>
  <br> <br>
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <div class="thumbnail">
          <img src="https://s3-us-west-2.amazonaws.com/feiben/homework/bidstore/search.png" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>找到你梦想之物</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="thumbnail">
          <img src="https://s3-us-west-2.amazonaws.com/feiben/homework/bidstore/bid.png" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>获得大咖的宝贝</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="thumbnail">
          <img src="https://s3-us-west-2.amazonaws.com/feiben/homework/bidstore/heart.png" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>分享大咖的成长</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Columns are always 50% wide, on mobile and desktop -->
<div class="row text-center">
  <h2>用户的喜悦</h2>
    <br><br>
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <img src="https://s3-us-west-2.amazonaws.com/feiben/homework/bidstore/sunli2.png" alt="user1" class="img-circle" max-height="100">
      <div class="caption">
        <p>我买到了孙俪私藏的一把罗马椅 ，朋友都说我坐上去后可有女王范了</p>
        <h5>Liz Jacobs,Toronto CAN</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <img src="https://s3-us-west-2.amazonaws.com/feiben/homework/bidstore/yonghao2.png" alt="user2" class="img-circle" max-height="100">
      <div class="caption">
        <p>我拍到了罗永浩砸西门子时的那把锤子 ，每当和售假者谈判时它都让我气场倍增</p>
        <h5>David Stevens,职业打假者</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <img src="https://s3-us-west-2.amazonaws.com/feiben/homework/bidstore/xiaolai2.png" alt="user3" class="img-circle" max-height="100">
      <div class="caption">
        <p>我买到了李笑来的法拉利 ，加速我的人生，驶向通往财富自由之路</p>
        <h5>Jay Rutter, Brisbane AUS</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <img src="https://s3-us-west-2.amazonaws.com/feiben/homework/bidstore/hanhan.png" alt="user4" class="img-circle" max-height="100">
      <div class="caption">
        <p>我拍了韩寒年轻时用的钢笔给儿子，拥有作家梦的他如获至宝</p>
        <h5>Sarah Naka, Portland USA</h5>
      </div>
    </div>
  </div>
</div>


<div class="ending">
  <div class="endingtitle">
  <h2>绝无仅有，欲抢从速</h2>
    <br><br>
    <div class="button">
      <p><a class="btn btn-danger btn-lg" href="products" role="button">现在就抢</a></p>
    </div>
  </div>
</div>
