<!-- head  -->
<div class="row">
  <div class="col-xs-12">
    <a href="products"><h1>大咖私藏</h1></a>
  </div>
</div>
  <div class="col-xs-12">
    <div class="slogan">
      <p>大咖私藏在手 牛逼装逼全都有</p>
    </div>
  </div>
</div>

<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="subtitle">
  <h2>为什么来这里拍</h2>
</div>
<div class="row">
  <div class="col-xs-6 col-md-4">
    <div class="reason">
      <p>专业安全保障</p>
    </div>
  </div>
  <div class="col-xs-6 col-md-4">
    <div class="reason">
      <p>真实可靠</p>
    </div>
  </div>
  <div class="col-xs-6 col-md-4">
    <div class="reason">
      <p>两不误</p>
    </div>
  </div>
</div>

<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="subtitle">
  <h2>竞拍流程</h2>
</div>
<div class="row">
  <div class="col-xs-6 col-md-4">
    <div class="process">
    <p>找到你梦想之物</p>
    </div>
  </div>
  <div class="col-xs-6 col-md-4">
    <div class="process">
      <p>获得大咖的宝贝</P>
    </div>
  </div>
  <div class="col-xs-6 col-md-4">
    <div class="process">
      <p>分享大咖的成长</p>
    </div>
  </div>
</div>


<!-- Columns are always 50% wide, on mobile and desktop -->
<div class="subtitle">
  <h2>用户的喜悦</h2>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="feedback">
      <blockquote>
        <p>我买到了孙俪私藏的一把罗马椅 ，朋友都说我坐上去后可有女王范了
        </p>
        <footer>Liz Jacobs,
          <cite>Toronto CAN
          </cite>
        </footer>
      </blockquote>
    </div>
    <div class="feedback">
      <blockquote>
        <p>我买到了李笑来的法拉利 ，加速我的人生，驶向通往财富自由之路
        </p>
        <footer>Jay Rutter,
          <cite> Brisbane AUS
          </cite>
        </footer>
      </blockquote>
    </div>
    </div>
  <div class="col-xs-6">
    <div class="feedback">
      <blockquote>
        <p>我拍到了罗永浩砸西门子时的那把锤子 ，每当和售假者谈判时它都让我气场倍增
        </p>
        <footer>David Stevens,
          <cite>职业打假者
          </cite>
        </footer>
      </blockquote>
    </div>
    <div class="feedback">
      <blockquote>
        <p>我拍了韩寒年轻时用的钢笔给儿子，拥有作家梦的他如获至宝
        </p>
        <footer>Sarah Naka,
          <cite>Portland USA
          </cite>
        </footer>
      </blockquote>
    </div>
  </div>
</div>

<div class="subtitle">
  <h2>绝无仅有，欲抢从速</h2>
</div>
  <a href="products"><p>现在就抢</p></a>
