/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 .borderless {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

 .jumbotron {
   background-image:url('https://s3-us-west-2.amazonaws.com/feiben/homework/bidstore/impressionist_n09035-jpg-webrend-2000-11251.jpg');
   background-repeat: no-repeat;
   background-size: cover;
 }

.title {
  font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  margin: 10% 40%;
  color: teal;
  background: rgba(255, 255, 255, 0.7);
}

.ending {
  font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
  padding-top: 120px;
  padding-right: 130px;
  padding-bottom: 120px;
  padding-left: 130px;
  background-image:url('https://s3-us-west-2.amazonaws.com/feiben/homework/bidstore/mao.jpg');
  background-repeat: no-repeat;
}

.img-circle {
  max-height: 120px;
}

.endingtitle {
  font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-left: 0px;
<<<<<<< HEAD
  margin: 0 30%;
  background: rgba(255, 255, 255, 0.3);
=======
  background: rgba(255, 255, 255, 0.5);
  margin: 0 30%;
>>>>>>> 59545263c71368e53cf670f50ad926c3ab77c201
  font-size: 40px;
  color: teal;
  text-align: center;
}

body {
    font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
    color: rgb(102, 102, 102);
    font-size: 14px;
}
