/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "chosen";

.sidebar {
  font-size: 18px;
}


 .messages {
   max-height: 400px;
   overflow-y: auto;
   margin-bottom: 1em;
   margin-top: 1em;
 }

 .borderless {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

 .jumbotron {
   background-image:url('http://y.photo.qq.com/img?s=99zcEYcbA&l=y.jpg');
   background-repeat: no-repeat;
   background-size: cover;
 }

.title {
  font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  margin: 10% 40%;
  color: teal;
  background: rgba(255, 255, 255, 0.7);
}

.ending {
  font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
  padding-top: 120px;
  padding-right: 130px;
  padding-bottom: 120px;
  padding-left: 130px;
  background-image:url('http://a3.qpic.cn/psb?/V13MJwM83ZGetu/XbK8QloQ3gKj9eXF4Hc5FsxdJ2wObB.JVknJrcOUXLY!/b/dK0AAAAAAAAA&bo=gAdYAgAAAAAFAP4!&rf=viewer_4&t=5');
  background-repeat: no-repeat;
}

.img-circle {
  max-height: 120px;
}

.endingtitle {
  font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-left: 0px;
  margin: 0 30%;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 30%;
  font-size: 40px;
  color: teal;
  text-align: center;
}

body {
    padding-top: 50px;
    font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
    color: rgb(102, 102, 102);
    font-size: 14px;
}


$bgDefault      : #000000;
$bgHighlight    : #cc0000;
$colDefault     : #ffffff;
$colHighlight   : #ffffff;
$dropDown       : true;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    background-color: $bgDefault;
    color: $colDefault;
    &:hover,  &:focus {
      color: $colHighlight;
      background-color: $bgHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
        background-color: $bgDefault;
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }

      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            > .divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}
