.tian {
  margin-right: 50px;
  padding-left: 60px;
}

.lachang {
  // padding: 20px;
  background-color: red;
  margin-left: 10px;
  margin-right: 10px;
  width: 98%;
  height: 50%;
}


.lachang h3{

color: white;
}
.lachang h2{
color: white
}

.hammer {
  margin-left: 15%;
}

#nav-left{
    float:left;
    position:absolute;
    *position:relative;
}
