// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  margin: 120px auto;
  text-align: center;
  position: relative;
  top: 24px;
}

.title {
  font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  margin: 10% 40%;
  color: teal;
  background: rgba(255, 255, 255, 0.7);
  display: inline-block;
}

.slogan {
  margin: 60px auto;
  text-align: center;
  position: relative;
  top: 12px;
}

.subtitle {
  margin: 120px auto;
  text-align: center;
  position: relative;
  top: 24px;
}

p.welcome{
  margin: 120px auto;
  text-align: center;
  font-size: 18px;
  top: 24px
}

.img-circle {
 max-height: 120px;
}
