
<div class="hiw-faq">
  <h2 class="text-center">大咖私藏简介</h2>
  <hr/>
  <div class="hiw-faq-block-container">
    <div class="row">
      <div class="hiw-faq-block">
        <p>企业名称：北京大咖私藏拍卖有限公司</p><br/>
        <p>核心成员：十三妹等</p><br/>
        <p>成立时间：2016年10月</p><br/>
        <p>创办地点：北京</p><br/>
        <p>项目用途：拍卖平台</p><br/>
        <h3>关于bidstore</h3>
        <br />
        <p>  2016年10月初，北京国贸“建外SOHO”东区8号楼2802成立了一个神秘的大咔私藏品拍卖会。主办者通过将社会各界大咖的私藏品小范围公开展示，进行投标竞价。参加竞投的除了大咖的粉丝，还有一些收藏家，大家非常很满意这种竞价交易方式。
          于是大咖的私藏品拍卖作为一种行业最初在北京国贸上出现的情形。由此，也诞生了大咖私藏品的拍卖行——大咖私藏！……只要粉丝感兴趣，我们的平台都提供。<br />
        <br />
        </p>
        <p><strong>公司联系方式</strong></p><br/>
        <p>公司地址：北京市朝阳区建外SOHO东区8号楼2802</p>
        <p>工作时间：周一至周五 09:00-18:00（国家法定节假日除外）</p>
      </div>
    </div>
  </div>
</div>
