
<div class="container">
  <h2 align="center">大咖私藏 </h2>
  <div class="hammer">
    <img src="http://www.gogochina.cn/img/20/20120327/1708182.jpg"  width="1200px;" >

  </div>


  <p>
  2016年10月初，北京国贸“建外SOHO”东区8号楼2802成立了一个神秘的大咔私藏品拍卖会。主办者通过将社会各界大咖的私藏品小范围公开展示，进行投标竞价。参加竞投的除了大咖的粉丝，还有一些收藏家，大家非常很满意这种竞价交易方式。
  于是大咖的私藏品拍卖作为一种行业最初在北京国贸上出现的情形。由此，也诞生了大咖私藏品的拍卖行——大咖私藏！
  </p>
</div>
