<h1>About US </h1>
<h3>大咔私藏 </h3>
<p>
2016年10月初，北京国贸有一处叫“科芬园”的地方。那里一直是果菜和花卉市场，而当时却成了一个大咔私藏品拍卖会的举行地点。主办者是一位叫山米尔·贝克的书商。
书籍拍卖会共举行了十天。白天，买家可以欣赏和浏览准备拍卖的书籍，夜幕降临，拍卖官司开始主持叫价。参加竞投的除了书商，还有一些收藏家，大家似乎很满意这种竞价交易方式。十天中，共有数百本珍贵的书籍易主，总成交额876英镑。
这就是拍卖作为一种行业最初在世界上出现的情形。由此，也诞生了世界上最古老的拍卖行——苏富比
</p>
