<div class="container">
<div class="row">
  <!-- <div class="col-md-2">
    <p>
      <% begin_time = Time.now.strftime("%Y/%m/%d %H:%M:%S") %>
         <h3>距拍卖开始</h3>
       <h2>
        <div id="getting-started-1"></div>
        <script type="text/javascript">
          var BeginTime = <%= begin_time.to_json.html_safe %>
          $("#getting-started-1")
          .countdown(BeginTime, function(event) {
            $(this).text(
              event.strftime('%D 天 %H:%M:%S')
            );
          });
        </script>
      </h2>
    </p>
  </div> -->
  <div class="timebg">
    <div class="time-bg" id="timebg">
      <!-- <div class="col-md-1">   -->
        <% begin_time = Time.now.strftime("%Y/%m/%d %H:%M:%S") %>
          <div id="getting-started-2"></div>
          <script type="text/javascript">
            var BeginTime = <%= begin_time.to_json.html_safe %>
            $("#getting-started-2")
            .countdown(BeginTime, function(event) {
              $(this).text(
                event.strftime('%D天 ')
              );
            });
          </script>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>


<!-- <p>
  <% dd = Time.now.strftime("%Y/%m/%d %H:%M:%S") %>
     <h3>距拍卖开始11111111</h3>
   <h2>
    <div id="getting-started-2"></div>
    <script type="text/javascript">
      var DD = <%= dd.to_json.html_safe %>
      $("#getting-started-2")
      .countdown(DD, function(event) {
        $(this).text(
          event.strftime('%D 天 ')
        );
      });
    </script>
  </h2>
</p> -->
