
<div class="hiw-faq">
    <h2 class="text-center">大咖私藏网站指南<br>常见问题</h2>

    <hr/>

    <div class="hiw-faq-block-container">
        <div class="row">

            <div class="hiw-faq-block">
                <h3>我们网站能做什么？</h3>
                <p>我们是一家专门开展名人二手物品拍卖的网站。在我们网站上您可以以拍卖竞价和一口价付款模式购买到自己心仪名人的私藏的物品，借助网络推广效应，可以有机会拥有自己心仪名人的私人物品。
                </p>
                <h3>
                    我们网站跟其它的购物网站、二手交易网站、拍卖网站最大不同？
                </h3>
                <p>我们网站锁定的是名人个人使用过的物品，商品独一无二，每件商品都有名人签字的品质保证书，是粉丝拉近与偶像距离的最好通道。商品购买中采用了灵活的拍卖模式：竞拍最高价购买和一口价购买两种模式。</p>
            </div>

            <div class="hiw-faq-block">
                <h3>
                    我为什么要选择你们的网站拍卖？
                </h3>
                <p>商品独一无二，拥有名人私藏，实现共享简约经济。
                </p>

                <h3>
                    你们的商品真的是名人大咖用过的吗？你们的商品质量怎么样？
                </h3>
                <p>名人亲笔签名授权质量保证书。</p>
                <h3>
                    你们网站的安全吗？会不会被黑客把款项黑掉？
                </h3>
                <p>我们与支付宝、微信保持长期的合作关系，使用顶级安全系统，确保大家的资金支付信息不会被泄露。
                </p>
            </div>

            <div class="hiw-faq-block">
                <h3>
                    我可以信得过你们吗？你们会不会拿到钱之后不给发货？
                </h3>
                <p>如果我们有此种行为，名人大咖将回直接收到对我们的投诉，我们的商品将无来源。所以请放心购买。</p>
                <h3>
                    你们使用什么物流？我付款后多久能收到货？能退货吗？
                </h3>
                <p>
                    根据商品的特殊性，我们仅与顺丰合作，收货时间按照同城24小时，异地3天。
                    <br>如果是商品质量或物流问题，可以退货。非商品质量和物流问题，我们不提供退货服务。
                </p>
                <h3>
                    什么样的名人大咖和你们网站合作？
                </h3>
                <p>
                    知识名人、影视明星、体育明星、网红。
                </p>
                <h3>
                    用户为什么要认证？如何认证通过？

                </h3>
                <p>
                    认证是参与竞拍的信用基础。认证过程简单，注册后登录账户，进入我的主页，点击修改个人资料，就可以进行认证申请，我们收到申请后，24小时之内根据资料完整情况，将予以回复。
                </p>
                <h3>
                    一口价和竞价出价拍卖有什么不同？
                </h3>
                <p>
                    一口价是网站以固定价格出售商品，不能讨价还价，买家可以立刻买下自己想要的商品，以最快的速度完成购买过程。
                </p>
                <h3>
                    一口价和竞价出价拍卖有什么不同？
                </h3>
                <p>
                    一口价:网站以固定价格出售商品，不能讨价还价，买家可以立刻买下自己想要的商品，以最快的速度完成购买过程。
                    <br>竞价出价：指网站上确定商品拍卖的具体时间，参与商品拍卖的买方自主加价，在约定交易时间内，无人继续加价后，商品拍卖结束，以最高买价成交。
                </p>
            </div>

        </div>
    </div>
</div>
