<div class="abovefooter"></div>
<footer>
  <div class="container text-center">
    <ul class="list-inline">
      <li class="social-github">
        <h1><a href="https://github.com/fullstack-team4/bidstore"><i class="fa fa-github"></i></a></h1>
      </li>
      <li>
        <h1><a href="https://twitter.com/sbootstrap"><i class="fa fa-weibo" aria-hidden="true"></i></a></h1>
      </li>
      <li>
        <h1><a href="https://www.facebook.com/StartBootstrap/"><i class="fa fa-qq" aria-hidden="true"></i></a></h1>
      </li>
      <li>
        <h1><a href="https://plus.google.com/+Startbootstrap"><i class="fa fa-weixin" aria-hidden="true"></i></a></h1>
      </li>
    </ul>
    <br>
    <p>欢迎随时联系我们！</p>
  </div>
  <p class="text-center">Copyright ©2016 BidStore Design by FORTH</p>
  <br>
</footer>
