
<footer class="container" >

  <p style="padding:40px;"></p>


  <div class="footer-mailchimp">
  <div class="container text-center">

  </div>
  </div>

  <div class="footer-social">
  <div class="container text-center">

  <ul class="list-inline">

  <li class="social-github">
    <h1>
      <a href="https://github.com/fullstack-team4/bidstore"><i class="fa fa-github"></i></a>
    </h1>
  </li>
  <li class="social-twitter">
    <h1>
      <a href="https://twitter.com/sbootstrap"><i class="fa fa-weibo" aria-hidden="true"></i></a>
    </h1>
  </li>
  <li class="social-facebook">
  <h1>
  <a href="https://www.facebook.com/StartBootstrap/"><i class="fa fa-qq" aria-hidden="true"></i></a>
  </h1>
  </li>
  <li class="social-google-plus">
  <h1>
  <a href="https://plus.google.com/+Startbootstrap"><i class="fa fa-weixin" aria-hidden="true"></i></a>
  </h1>
  </li>
  </ul>
  <br>
  <h4>欢迎随时联系我们!</h4>
  </div>

  </div>
  <div class="footer-main">

  </div>
    <p class="text-center">Copyright ©2016 BidStore Design by FORTH
    </p>
</footer>
